/*----------  GOOGLE FONTS  ----------*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap");
/*----------  VARIABLES  ----------*/
:root {
  /*----------  COLORS   ----------*/
  --clr-primary: #f3f2ee;
  --clr-text-primary: #111;
  --clr-text-secondary: #e53637;
  --clr-text-muted: #b7b7b7;
  /*----------  SPACING  ----------*/
  --sp-xs: 0.25rem;
  --sp-sm: 0.5rem;
  --sp-md: 1rem;
  --sp-lg: 1.5rem;
  --sp-xl: 2rem;
  --sp-2xl: 3rem;
  --sp-3xl: 4rem;
  --nav-bar-height: 80px;
  /*----------  TYPOGRAPHY  ----------*/
  --font-family: "Nunito Sans", sans-serif;
  --fs-xl: 2rem;
  /* 32px */
  --fs-lg: 1.5rem;
  /* 24px */
  --fs-md: 1.125rem;
  /* 18px */
  --fs-sm: 1rem;
  /* 16px */
  --fs-xs: 0.875rem;
  /* 14px */
  --fw-md: 600;
  --fw-bold: 800;
}

/*----------  CSS BASE  ----------*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--fs-sm);
  font-weight: var(--fw-md);
  color: var(--clr-text-primary);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited,
a :active {
  color: var(--clr-text-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
  border: none;
  color: white;
  background: transparent;
  cursor: pointer;
}

/*----------  COMPONENTS  ----------*/
#body-click-catcher {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: none;
}

#back-to-top {
  position: fixed;
  right: var(--sp-md);
  bottom: var(--sp-md);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--sp-sm);
  background: var(--clr-text-secondary);
  border-radius: var(--sp-sm);
  z-index: 1000;
  visibility: hidden;
}

#back-to-top i {
  font-size: var(--fs-lg);
  color: white;
}

#back-to-top.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

.container--md {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

a.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
}

a.btn--filled {
  background-color: var(--clr-text-primary);
  color: white;
  padding: var(--sp-md) var(--sp-lg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a.btn--filled:hover {
  color: var(--clr-text-secondary);
}

a.btn--link {
  position: relative;
}

a.btn--link::after {
  content: " ";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--clr-text-primary);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.btn--link:hover::after {
  width: 30%;
  background-color: var(--clr-text-secondary);
}

section {
  padding-top: var(--sp-3xl);
}

section:target {
  padding-top: calc(var(--sp-3xl) + 2rem);
}

section .section__title {
  text-align: center;
  font-size: var(--fs-lg);
  margin-bottom: var(--sp-md);
}

/*----------  ANIMATIONS  ----------*/
@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*----------  HEADER  ----------*/
.topbar {
  position: relative;
  text-align: center;
  padding: var(--sp-sm);
  background-color: var(--clr-text-primary);
  color: white;
}

.topbar #topbar__close {
  position: absolute;
  right: var(--sp-sm);
  top: var(--sp-sm);
  font-size: var(--fs-lg);
  cursor: pointer;
}

.topbar.hide {
  display: none;
}

.navbar {
  position: relative;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

.navbar__mobile {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: var(--fs-sm);
}

.navbar__mobile #toggle-menu {
  font-size: var(--sp-lg);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbar__mobile {
    display: none;
  }
}

.navbar__logo img {
  max-height: 28px;
}

.navbar__content {
  position: fixed;
  left: -100%;
  top: 0;
  height: 100vh;
  width: 80vw;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--sp-lg);
  background-color: white;
  z-index: 100;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar__content.show {
  left: 0;
}

@media screen and (min-width: 768px) {
  .navbar__content {
    position: relative;
    left: 0;
    -ms-grid-columns: max-content 1fr max-content;
        grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
        grid-template-columns: max-content 1fr max-content;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: var(--nav-bar-height);
  }
}

.navbar__links {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .navbar__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar__links li {
  font-size: var(--fs-lg);
  margin-bottom: var(--sp-sm);
}

.navbar__links li a {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.navbar__links li a:hover {
  color: var(--clr-text-secondary);
}

@media screen and (min-width: 768px) {
  .navbar__links li {
    font-size: var(--fs-md);
  }
  .navbar__links li:not(:last-child) {
    margin-right: var(--sp-md);
  }
}

.navbar__icons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.navbar__icons a {
  font-size: var(--sp-lg);
}

.navbar__icons a:not(:last-child) {
  margin-right: var(--sp-md);
}

/*----------  HERO  ----------*/
section#hero {
  background-color: var(--clr-primary);
}

.hero {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
}

.hero__img {
  -webkit-animation-name: fade-in-bottom;
          animation-name: fade-in-bottom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@media screen and (min-width: 768px) {
  .hero {
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
  }
  .hero__img {
    max-height: 500px;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.hero__content {
  padding: var(--sp-md);
  -webkit-animation-name: fade-in-right;
          animation-name: fade-in-right;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.hero__content h2 {
  font-size: var(--fs-md);
  letter-spacing: 0.1em;
  color: var(--clr-text-secondary);
  margin-bottom: var(--sp-xs);
}

.hero__content h1 {
  font-size: var(--fs-xl);
  margin-bottom: var(--sp-sm);
}

.hero__content p {
  margin-bottom: var(--sp-2xl);
}

@media screen and (min-width: 768px) {
  .hero__content {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/*----------  COLLECTIONS  ----------*/
.collections__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  row-gap: var(--sp-lg);
  padding: var(--sp-md);
}

@media screen and (min-width: 768px) {
  .collections__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: var(--sp-md);
            column-gap: var(--sp-md);
  }
}

.collections .banner {
  position: relative;
  overflow: hidden;
}

.collections .banner__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.collections .banner__text {
  margin: var(--sp-sm);
}

.collections .banner__text h2 {
  margin-bottom: var(--sp-sm);
}

@media screen and (min-width: 768px) {
  .collections .banner__text {
    position: absolute;
    top: 25%;
    left: var(--sp-md);
  }
}

.collections .banner:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

/*----------  BEST SELLERS  ----------*/
.best-sellers {
  padding: var(--sp-md);
}

.best-sellers__grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: var(--sp-md);
          column-gap: var(--sp-md);
  row-gap: var(--sp-xl);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1024px) {
  .best-sellers__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.best-sellers__grid .product {
  position: relative;
  overflow: hidden;
}

.best-sellers__grid .product:hover .product__actions {
  right: 15px;
  opacity: 1;
}

.best-sellers__grid .product__actions {
  position: absolute;
  right: -250px;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.best-sellers__grid .product__actions i {
  cursor: pointer;
  background-color: white;
  padding: var(--sp-sm);
  font-size: var(--fs-md);
  margin-top: var(--fs-xs);
}

.best-sellers__grid .product__img {
  min-width: 100%;
}

.best-sellers__grid .product:hover .product__title {
  opacity: 0;
}

.best-sellers__grid .product__title {
  margin-top: var(--sp-sm);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.best-sellers__grid .product__rating i {
  color: var(--clr-text-muted);
  margin: --var(--sp-xs) 0;
}

.best-sellers__grid .product__price {
  font-size: var(--fs-md);
}

.best-sellers__grid .product__price--before {
  font-size: var(--fs-sm);
  margin-right: var(--sp-sm);
  color: var(--clr-text-muted);
  text-decoration: line-through;
}

.best-sellers__grid .product:hover .add-to-cart {
  visibility: visible;
  opacity: 1;
  top: 0px;
}

.best-sellers__grid .product__info {
  position: relative;
}

.best-sellers__grid .product__info .add-to-cart {
  position: absolute;
  color: var(--clr-text-secondary);
  font-weight: var(--fw-bold);
  top: -10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*----------  BLOGS  ----------*/
.blogs {
  padding: var(--sp-md);
}

.blogs__grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: var(--sp-md);
          column-gap: var(--sp-md);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .blogs__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .blogs__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.blogs .blog__item {
  position: relative;
  margin-bottom: 150px;
}

.blogs .blog__item__img {
  overflow: hidden;
}

.blogs .blog__item__img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .blog__item__img img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blogs .blog__item__text {
  position: absolute;
  padding: var(--sp-lg);
  margin: 0 var(--sp-xl);
  margin-top: -30px;
  background-color: white;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.blogs .blog__item__text h4 {
  margin-bottom: var(--sp-sm);
}

/*----------  FOOTER  ----------*/
.footer {
  background-color: var(--clr-text-primary);
  color: white;
  padding: var(--sp-xl);
}

.footer__logo img {
  margin-bottom: var(--sp-md);
  max-height: 50px;
}

.footer__about {
  margin-bottom: var(--sp-md);
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  gap: var(--sp-lg);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .footer__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: var(--sp-lg) 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer__grid__item {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.footer__grid__item h6 {
  font-size: var(--sp-md);
  color: white;
  margin-top: 0;
  margin-bottom: var(--sp-md);
}

.footer__grid__item .footer__links li {
  margin-bottom: var(--sp-sm);
}

.footer__grid__item .footer__links li a {
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__grid__item .footer__links li a:hover {
  color: var(--clr-text-secondary);
}

.footer__grid__item .news-letter {
  margin-top: var(--sp-md);
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid white;
}

.footer__grid__item .news-letter input {
  background-color: transparent;
  color: white;
  padding: var(--sp-sm) 0;
  font-size: var(--fs-sm);
  outline: none;
  border: none;
  width: 100%;
}

.footer__grid__item .news-letter button i {
  font-size: var(--fs-lg);
}

.footer__bottom {
  font-size: var(--fs-xs);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: var(--sp-md);
  padding-top: var(--sp-md);
  text-align: center;
}
/*# sourceMappingURL=style.css.map */